dashboard


<adminr-resource assign="users" init="User.query()"></adminr-resource>
{{users.data.length}}
{{users.range}}
<div layout="row" ng-init="selected = []">
    <md-card flex>
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Users data table {{selected}}</span>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-row-select ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="onReorder">
                <tr md-row>
                    <th md-column md-numeric md-order-by="id"><span>#</span></th>
                    <th md-column md-order-by="username"><span>Username</span></th>
                </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="user" md-select-id="{{user.id}}" md-auto-select ng-repeat="user in users.data">
                        <td md-cell>{{user.id}}</td>
                        <td md-cell>{{user.username}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="users.range.limit" md-page="users.range.page" md-total="{{users.range.count}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
    </md-card>
</div>